:root {
    --main-font: 'Montserrat', sans-serif;
    --title-font: 'Montserrat Alternates', sans-serif;
    --main-text-color: #3C322D;
    --second-text-color: #fff;
    --accent-color: #f3848C;
    --bcg-white: #f6f7f7;
}

